.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.actionsWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.closeButton {
  background: #737373 !important;
  font-size: 12px !important;
}
